.body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSILXGWHnXoRsF3uAzCtFkKhGPZFjwVfKFPfA&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
}

.haxe{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.white{
    color : whitesmoke;
    margin-right: 10px;
}